@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  scroll-behavior: smooth;

  --main-bg: #f9f9f9; /* main background color */
  --main-bg-2: #efefef; /* main background color */
  --main-fc: #1b1b1b; /* main font color / fore color */
  --fc-light: rgba(0 0 0 / .7);
  --discount-bg: #79ef97;

  --pwonz-color-1: #5CAEBF;

  --soft-shadow: 8px 0px 24px rgba(0 0 0 / .15);
  --soft-shadow-on-top: -8px 0px 24px rgba(0 0 0 / .15);
  --rounded-border: 5px;

  --font-family: "Jost", serif;
}

body.dark-mode {
  --main-bg: #1e1e1e; /* main background color */
  --main-bg-2: #393939; /* main background color */
  --main-fc: #f6f6f6; /* main font color / fore color */
  --fc-light: rgba(255, 255, 255, 0.7);
  --discount-bg: #548760;

  --soft-shadow: 8px 0px 24px rgba(79, 79, 79, 0.15);

  & .icon-dark {
    fill: white;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  color: var(--main-fc);
  font-family: var(--font-family);

  min-height: 100dvh;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* img {
  border-radius: var(--rounded-border);
} */

.sr-only { /* screen reader only */
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.skip { /* the skip link for keyboard users */
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;

  &:focus {
    top: 0;
    left: 0;
    width:auto;
    height:auto;
  }
}

#btnDarkMode {
  aspect-ratio: 1 / 1;
  padding: 0;
  
  &:hover {
    outline: none;
  }
}

.icon-dark {
  width: 25px;
}

header, main, footer {
  max-width: 1680px;
  margin: 0 auto;
}

.header-container {
  box-shadow: var(--soft-shadow);
}

.header-container, .footer-container {
  width: 100%;

  header, footer ul {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  footer ul {
    list-style: none;
  }

  .footer-container {
    box-shadow: var(--soft-shadow-on-top);
  }
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 1rem;
}

.no-results {
  background: url('../img/no-results.png') center top no-repeat;

  &::before {
    content: 'No se han encontrados resultados';
  }
}

.catalog-container {
  .catalog-container__sort-by {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5rem;
    gap: .5rem;
  }
  
  .catalog-container__catalog {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(285px, 1fr)
    );
    gap: 1rem;
  }
}

.btn {
  padding: .7em 1em;
  border-radius: var(--rounded-border);
  background-color: var(--pwonz-color-1);
  color: #fff;
  border: none;

  cursor: pointer;
}

.btn--outlined {
  background-color: rgba(0 0 0 / 0);
  color: var(--main-fc);
  border: 1px solid var(--pwonz-color-1);
}

.btn--cube { 
  aspect-ratio: 1 / 1;
  width: 40px;
  text-align: center;
}

.btn--text-only {
  border: 0;
  outline: none;
  background: none;
  color: var(--main-fc);
  transition: outline 500ms ease-in-out;

  &:hover {
    outline: 1px solid rgba(0 0 0 / .15)
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-2);

  border-radius: var(--rounded-border);
  overflow: hidden;
  
  .card__title {
    font-size: 1.25em;
    flex-grow: 1; 
    padding: .5rem 1rem;
  }

  .card__cover {
    order: -1;
  }

  .btn {
    margin-left: .5rem;
  }

  .price-container {
    margin-left: auto;

    display: grid;
    grid-template-columns: auto auto;
    justify-items: end;
    align-items: center;
  }

  .price-container--discount {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto auto;

    .price__discount {
      font-size: 1.4em;
      grid-row: 1 / -1;

      display: grid;
      place-content: center;
      padding: .35rem;
      border-radius: var(--rounded-border);
      margin-right: .5rem;

      background: var(--discount-bg);
    }

    .price__real {
      grid-row: 1 / 2;
      grid-column: 2 / 3;

      color: var(--fc-light);
      text-decoration-line: line-through;
      font-size: .8em;
    }

    .price__calculated {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
    
    .btn {
      grid-row: 1 / -1;
    }
  }
}

.card--horizontal {
  margin-bottom: 1em;
  
  display: grid;
  grid-template-columns: auto 1fr repeat(2, auto);
  grid-template-rows: 1fr repeat(2, auto);
  column-gap: .5rem;

  .title {
    font-weight: normal;
  }
  
  .cover {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
  
  .price {
    grid-column: -3 / -1;
    align-self: end;
    justify-self: end;
  }

  .add {
    grid-column: -2 / -1;
    grid-row: -2 / -1;
  }
  
  .delete {
    grid-column: -3 / -2;
    grid-row: -2 / -1;
  }

  .add, .delete {
    background: none;
    border: none;
    text-decoration: underline solid 1px var(--fc-light);

    cursor: pointer;
    
    &:hover {
      color: var(--fc-light);
    }
  }
}

.card--horizontal--small {
  /* grid-template-columns: 225px 1fr auto; */
  grid-template-columns: 140px 1fr auto;
  grid-template-rows: auto;
  align-items: center;
  font-size: .7em;
  
  .cover {
    width: 100%;
  }

  .title {
    margin-right: 2em;
  }

  .price {
    grid-column: -2 / -1;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: start;
  }
}

.filters__block {
  margin-bottom: 2rem;
}

.filters__block-title {
  font-weight: bold;
}

.filters__block-content {
  padding: .5rem 1rem 0 .5rem;
}

#filterByPrice {
  width: 95%;
}


#genresContainer div {
  label {
    padding: .5rem 1rem;
    transition: 300 ms;
    display: block;
    border-radius: 1px;
    background-color: transparent;
    
    &:hover {
      background-color: #ebebeb;
      color: #000;
      cursor: pointer;
    }

    &:has(:checked) {
      background-color: #6969dd;
      color: #ffffff;
    }
  }

  & input {
    width: 1px;
    height: 1px;
    position: absolute;
  }
}

.total {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

dialog {
  margin: auto;
  animation: slideInLeft 500ms cubic-bezier( 0.46, 0.42, 0.16, 1 );
  padding: 1em;
  border: 0px;
  border-radius: var(--rounded-border);
  
  &::backdrop {
    background-color: rgba(0 0 0 / .7);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 1em;
  }

  .body--product-details {
    display: grid;
    width: auto;
    grid-template-columns: 652px 460px;
    gap: 1rem;

    .product-details__carousel {
      
      .big-img-container {
        overflow: hidden;
        aspect-ratio: 2 / 1.10;

        .big-img {
          width: 100%;
        }
      }

      .product-details__carousel-controls {
        display: flex;
        width: 100%;
        
        .small-images-container {
          display: flex;
          align-items: center;
          scroll-behavior: smooth;
          overflow-x: auto;
          list-style: none;
          /* width: 500px; */

          scrollbar-width: thin;
          scrollbar-color: #6969dd #e0e0e0;

          .small-img {
            width: 100px;
          }
        }
      }
    }

    .product-details__more-info {
      display: flex;
      flex-direction: column;
      padding: 0;

      .product-header {
        order: 1;
      }

      .description {
        order: 3;
      }

      .price {
        order: 4;
        font-size: 1.5rem;
        margin: .5rem 0;
      }

      .genres {
        order: 2;
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        gap: .5rem;
        margin: .5rem 0;

        li {
          border-radius: 500px;
          padding: 4px 12px;
          border: 1px solid red;
        }
      }

      .btn {
        order: 5;
      }
    }
  }
  
  .footer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

}

input:not([type="radio"]) {
  padding: .4rem .8rem;
}

form {
  label, input {
    display: block;
    width: 100%;
  }
  
  .pay-method, .facturation, .recieve {
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    row-gap: .3rem;
  
    & .h3-title {
      margin-top: 1rem;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  .pay-method {
    grid-template-rows: repeat(3, auto);

    & div:nth-child(2) {
      grid-column: 1 / -1;
    }

    & div:nth-child(3) {
      grid-column: 1 / span 2;
      grid-row: -2 / -1;
    }
    
    & div:nth-child(4) {
      grid-column: 3 / span 1;
      grid-row: -2 / -1;
    }
  }
  
  .facturation {
    grid-template-rows: repeat(5, auto);
    
    & div:nth-child(2) {
      grid-column: 1 / 2;
    }
    
    & div:nth-child(3) {
      grid-column: 2 / 3;
    }
    
    & div:nth-child(4) {
      grid-column: 1 / 3;
      /* grid-row: 2 / 3; */
    }
    
    & div:nth-child(5) {
      grid-column: 1 / 3;
      /* grid-row: 1 / 2; */
    }
    
    & div:nth-child(6) {
      grid-column: 3 / -1;
      grid-row: 2 / 3;
    }
    
    & div:nth-child(7) {
      grid-column: 3 / -1;
      grid-row: 3 / 4;
    }
    
    & div:nth-child(8) {
      grid-column: 1 / 3;
      grid-row: -2 / -1;
    }
    
    & div:nth-child(9) {
      grid-column: 3 / -1;
      grid-row: -2 / -1;
    }
  }
  
  .recieve {
    grid-template-rows: repeat(3, auto);
    
    & p:nth-child(2) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }

    & div:nth-child(3) {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
    
    & div:nth-child(4) {
      grid-column: 3 / -1;
      grid-row: 3 / 4;
    }
  }
}

small {
  display: block;
  color: #ae2f2f;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .5rem;
  padding: 0 3rem;
  column-gap: 3rem;
  
  & :nth-child(2) {
    text-align: right;
  }
}

.purchase-complete {
  text-align: center;

  h2, p {
    margin-bottom: 1rem;
  }
}

.special-offer {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0 0 0 / .5);
  border-radius: .2rem;
  overflow: hidden;

  position: fixed;
  margin-left: auto;
  animation: slideInRight 500ms cubic-bezier( 0.46, 0.42, 0.16, 1 );
  margin-right: 10px;
  bottom: 10px;

  display: grid;

  grid-template-columns: repeat(4, auto);
  column-gap: .5rem;

  .btn-close {
    grid-row: 1 / 2;
    grid-column: -2 / -1;
  }
}

.go-left {
  transform: translateX(-120%);
  transition: transform 500ms cubic-bezier( 0.46, 0.42, 0.16, 1 );
}

.go-right {
  transform: translateX(120%);
  transition: transform 500ms cubic-bezier( 0.46, 0.42, 0.16, 1 );
}

@keyframes slideInRight {
  from {
    transform: translateX(120%);
  }
  
  to {
    transform: translateX(0px);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-120%);
  }
  
  to {
    transform: translateX(0px);
  }
}

/*
CONSIGNAS DE DISEÑO:
  ● Serán desaprobadas las entregas que carezcan de diseño o que el mismo no se visualice de
  manera apropiada en los navegadores de uso común.
  ● Debe respetarse una interfaz navegable y comprensible, donde el usuario pueda interpretar el
  proceso completo de la compra.
  ● Se debe usar una o más hojas de estilo, a elección del/de la alumno/a.
*/

* {
  /* border: 1px solid red; */
}